*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 100px;
   /* border: 1px solid blue;*/
}

.layout-grid{
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;/*CENTRALIZA O ELEMENTO */
   /* border: 2px solid green;*/
}

.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    width: 130px;
}

.menu{
    display: flex;
    justify-content: space-between;
    width:350px;
   /* border: 2px solid slateblue;*/

}

.menu a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: 600;
}


.banner {
    position: relative;
    top: 0;
    left: 0;
    border: 2px solid greenyellow;
}

.banner img{
    width: 100%;
}


.banner a{
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 45px;
    color: white;
    background-color: black;
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    font-weight: 600;
}



